/* cor padrão #212121  */
/* cor padrão icones #e64a19  */

i {
  color: #e64a19 !important;
}

.section-chamados .adicionar a {
  margin-top: 30%;
  position: relative;
}

.tam14 {
  font-size: 14px;
}


.dropdown-content li a{
  color: #e64a19 !important;
}

.row .input-field input:focus {
  border-bottom: 1px solid #e64a19 !important;
  box-shadow: 0 1px 0 0 #e64a19 !important
}

.input-field input:focus + label {
  color: #e64a19 !important;
}

.datepicker-date-display {
  background-color: #424242;
  color: #e64a19 !important;
}

.datepicker-day-button:focus {
  color: black !important;
  background-color: #e64a19;
}

.datepicker-done,
.datepicker-cancel,
.select-dropdown li>span,
.is-today {
  color: #424242 !important;
}

td.is-selected,
.month-prev:active,
.month-prev:focus,
.month-next:active,
.month-next:focus {
  background-color: #e64a19 !important;
}

td.is-selected.is-today {
  color: white !important;
}

/* login */
.login-box{
    width: 320px;
    height: 420px;
    background: #424242;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.login-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.login-box input{
    width: 100%;
    margin-bottom: 20px;
}
.login-box input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.login-box input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #e64a19;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.login-box input[type="submit"]:hover
{
    cursor: pointer;
    background: #ed805e;
    color: #000;
}

.login-box a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}
.login-box a:hover
{
    color: #e64a19;
}

.login input:focus {
  border-bottom: 1px solid #e64a19 !important;
  box-shadow: 0 1px 0 0 #e64a19 !important
}

.login input:focus + label {
  color: #e64a19 !important;
}

.row .input-field textarea:focus {
  border-bottom: 1px solid #e64a19 !important;
  box-shadow: 0 1px 0 0 #e64a19 !important
}

.input-field textarea:focus + label {
  color: #e64a19 !important;
}

.section-search input{
  padding: 5px !important;
  font-size: 18px !important;
  width: 90% !important;
  border: #f4f4f4 3px solid !important;
}











